.ai_babysuni {max-width:100%; position:fixed; right:33px; bottom:50px;}
.ai_babysuni * {margin:0; padding:0;}
.ai_babysuni img {display:block;}
.ai_babysuni button {padding:0; background-color:transparent; border:0; cursor:pointer;}

.ai_babysuni .ai_button_wrap {max-width:100%; position:relative; transform:translateY(-80px);}
.ai_babysuni .ai_button_wrap .message_wrap {padding:12px 16px; font-size:14px; color:#fff; background-color:#222; border-radius:12px; position:relative;}
.ai_babysuni .ai_button_wrap .message_wrap:after {width:15px; height:9px; background:url('../images_jh/icon_ai_chat_split.png') -90px 0 no-repeat; background-size:250px auto; content:''; position:absolute; right:16px; bottom:-6px; display:block;}
.ai_babysuni .ai_button_wrap .message_wrap > * {margin:0; padding:0;}
.ai_babysuni .ai_button_wrap .ai_button {width:54px; padding:0; position:absolute; right:0; bottom:-80px; cursor:pointer; display:block;}

.ai_babysuni .ai_chat_wrap {width:480px; background-color:#fff; border:1px solid #d9d9d9; border-radius:16px; overflow:hidden; position:fixed; top:50px; right:0; bottom:50px; display:flex; flex-direction:column; transform:translateX(100%); transition:transform 0.25s;}
.ai_babysuni .ai_chat_wrap.active {transform:translateX(-30px);}
.ai_babysuni .ai_chat_wrap.chatting {background-color:#efefef;}

.ai_babysuni #resizer {width:4px; font-size:0; position:absolute; top:0; bottom:0; left:0; z-index:2; cursor:ew-resize;}

.ai_babysuni .ai_chat_wrap .ai_chat_header {padding:20px 24px;}
.ai_babysuni .ai_chat_wrap .ai_chat_header .ai_chat_close {width:24px; height:24px; font-size:0; background-image:url('../images_jh/icon_ai_chat_split.png'); background-position:0 0; background-repeat:no-repeat; background-size:250px auto; border:0; position:absolute; top:20px; right:24px; display:block;}
.ai_babysuni .ai_chat_wrap .ai_chat_header .ai_chat_quick {margin-top:16px; padding:14px 12px; background-color:#fff; border:1px solid #efefef; border-radius:12px; display:inline-flex; justify-content:space-between;}
.ai_babysuni .ai_chat_wrap.chatting .ai_chat_header .ai_chat_quick {display:flex;}
.ai_chat_header .btn_history, .ai_chat_header .new_talk {font-size:13px; display:flex; align-items:center;}
.ai_chat_header .btn_history {color:#999;}
.ai_chat_header .btn_history:before, .ai_chat_header .new_talk:after {width:20px; height:20px; background-image:url('../images_jh/icon_ai_chat_split.png'); background-repeat:no-repeat; background-size:250px auto; content:''; display:block;}
.ai_chat_header .btn_history:before {margin-right:4px; background-position:-30px 0;}
.ai_chat_header .new_talk {color:#222; display:none;}
.ai_chat_header .new_talk:after {margin-left:4px; background-position:-60px 0;}
.ai_babysuni .ai_chat_wrap.chatting .new_talk {display:flex;}

.ai_babysuni .ai_chat_wrap .ai_chat_bottom {padding:20px 24px; position:relative; z-index:1;}
.ai_babysuni .ai_chat_wrap .ai_chat_input {border-radius:12px; overflow:hidden; position:relative; display:flex; align-items:center;}
.ai_babysuni .ai_chat_wrap .ai_chat_input textarea {min-height:52px; max-height:350px; padding:16px 60px 16px 20px; color:#222; font-size:16px; background-color:#fff; border:1px solid #d9d9d9; border-radius:12px; box-sizing:border-box; position:relative; outline:0; flex:1;}
.ai_babysuni .ai_chat_wrap .ai_chat_input .btn_send {width:53px; background-color:#ccc; border-radius:0 12px 12px 0; font-size:0; position:absolute; top:0; right:0; bottom:0;}
.ai_babysuni .ai_chat_wrap .ai_chat_input .btn_send.active {background-color:#DD052B;}
.ai_babysuni .ai_chat_wrap .ai_chat_input .btn_send:before {width:33px; height:32px; background:url('../images_jh/icon_ai_chat_split.png') 0 -30px no-repeat; background-size:250px auto; content:''; position:absolute; top:50%; left:50%; display:block; transform:translate(-50%, -50%);}

.ai_babysuni .ai_chat_wrap.history .ai_chat_input {display:none;}
.ai_babysuni .ai_chat_wrap .ai_chat_bottom .btn_confirm {width:100%; background-color:#DD052B; border-radius:12px; display:none;}
.ai_babysuni .ai_chat_wrap .ai_chat_bottom .btn_confirm em {padding:15px 10px; color:#fff; font-size:16px; font-weight:bold; font-style:normal; display:block;}
.ai_babysuni .ai_chat_wrap.history .ai_chat_bottom .btn_confirm {display:block;}

.ai_babysuni .ai_chat_wrap .ai_chat_cont {padding:0 24px; overflow:auto; position:relative; flex:1;}
.ai_babysuni .ai_chat_wrap .ai_chat_cont::-webkit-scrollbar {width:10px;}
.ai_babysuni .ai_chat_wrap .ai_chat_cont::-webkit-scrollbar-thumb {background:rgba(0,0,0,0.2); background-clip:padding-box; border:3px solid transparent; border-radius:8px;}
.ai_babysuni .ai_chat_wrap .ai_chat_cont::-webkit-scrollbar-track {background:transparent;}

.ai_babysuni .ai_chat_cont_intro {height:100%; padding:0 53px; word-break:keep-all; text-align:center; display:flex; align-items:center; justify-content:center; flex-direction:column;}
.ai_babysuni .ai_chat_cont_inner {display:none;}

.ai_babysuni .ai_chat_wrap.chatting .ai_chat_cont_intro {display:none;}
.ai_babysuni .ai_chat_wrap.chatting .ai_chat_cont_inner {display:block;}

.ai_babysuni .ai_chat_cont_intro > * + * {margin-top:28px;}
.ai_babysuni .ai_chat_cont_intro strong {margin-top:20px; color:#000; font-size:20px; line-height:32px; display:block;}
.ai_babysuni .ai_chat_cont_intro p {color:#999; font-size:14px; line-height:22px;}
.ai_babysuni .ai_chat_cont_intro .keyword {margin-top:48px;}
.ai_babysuni .ai_chat_cont_intro .ai_icon {width:112px;}

.ai_babysuni .talk_history {list-style:none;}
.ai_babysuni .talk_history > li + li {margin-top:16px;}
.ai_babysuni .talk_history button {width:100%; padding:17px 20px; color:#222; font-size:16px; font-weight:bold; background-color:#fff; border-radius:16px; text-align:left;}

.ai_babysuni .chat_sec {display:flex; flex-wrap:wrap;}
.ai_babysuni .chat_sec + .chat_sec {margin-top:30px;}
.ai_babysuni .chat_sec.ai:before {width:48px; height:64px; margin-right:14px; background:url('../images_jh/btn_ai_icon.png') 50% no-repeat; background-size:cover; content:''; display:block;}
.ai_babysuni .chat_sec.user {justify-content:end;}

.ai_babysuni .chat_inner {max-width:calc(100% - 40px); padding:20px; word-wrap:break-word; box-sizing:border-box; position:relative; display:inline-block; animation:0.25s scale;}
.ai_babysuni .chat_inner:after {background-image:url('../images_jh/icon_ai_chat_split.png'); background-repeat:no-repeat; background-size:250px auto; content:''; position:absolute; top:0; display:block;}
.ai_babysuni .chat_inner > * + * {margin-top:20px;}

@keyframes scale {
    from {
      scale:0;
    }
    to {
      scale:1;
    }
  }

.ai_babysuni .btn_top {width:40px; height:40px; font-size:0; background-color:rgba(217, 217, 217, 0.4); border:1px solid #d9d9d9; border-radius:50%; position:fixed; right:24px; bottom:100px; z-index:1;}
.ai_babysuni .btn_top:before {width:20px; height:20px; margin-top:-10px; margin-left:-10px; background:url('../images_jh/icon_ai_chat_split.png') -40px -30px no-repeat; background-size:250px auto; content:''; position:absolute; top:50%; left:50%; display:block;}

.ai_babysuni .chat_sec.ai .chat_inner {max-width:calc(100% - 62px); background-color:#fff; border-radius:0 16px 16px 16px;}
.ai_babysuni .chat_sec.user .chat_inner {margin-right:6px; color:#fff; font-weight:bold; background-color:#DD052B; border-radius:16px 0 16px 16px;}

.ai_babysuni .chat_sec.ai .chat_inner:after {width:8px; height:15px; background-position:-120px 0; left:-6px;}
.ai_babysuni .chat_sec.user .chat_inner:after {width:9px; height:15px; background-position:-140px 0; right:-6px;}

.ai_babysuni .keyword {list-style:none; display:inline-flex; gap:16px;}
.ai_babysuni .keyword button {padding:12px 20px; color:#666; font-size:14px; background-color:#fff; border:1px solid #d9d9d9; border-radius:22px; transition:all 0.25s;}
.ai_babysuni .keyword button.active {padding:11px 20px; color:#DD052B; font-weight:bold; background-color:rgba(221, 5, 43, 0.05); border-color:#DD052B;}

.ai_babysuni .comment_action {margin-top:20px; padding-top:12px; border-top:1px solid #efefef; list-style:none; display:flex; gap:16px;}
.ai_babysuni .comment_action li {position:relative;}
.ai_babysuni .comment_action button {width:24px; height:24px; font-size:0; background-image:url('../images_jh/icon_ai_chat_split.png'); background-repeat:no-repeat; background-size:250px auto;}
.ai_babysuni .comment_action .good {background-position:0 -70px}
.ai_babysuni .comment_action .bad {background-position:-30px -70px}
.ai_babysuni .comment_action .refresh {background-position:-60px -70px}
.ai_babysuni .comment_action .copy {background-position:-90px -70px}
.ai_babysuni .comment_action .good.active, .ai_babysuni .comment_action .good:hover {background-position:0 -100px}
.ai_babysuni .comment_action .bad.active, .ai_babysuni .comment_action .bad:hover {background-position:-30px -100px}
.ai_babysuni .comment_action .refresh.active, .ai_babysuni .comment_action .refresh:hover {background-position:-60px -100px}
.ai_babysuni .comment_action .copy.active, .ai_babysuni .comment_action .copy:hover {background-position:-90px -100px}

.ai_babysuni .comment_action .tooltip {padding:6px 8px; color:#fff; font-size:11px; white-space:nowrap; background-color:#222; border-radius:4px; opacity:0; position:absolute; bottom:32px; left:0; z-index:-1; transition:all 0.25s;}
.ai_babysuni .comment_action .tooltip:after {width:10px; height:6px; background:url('../images_jh/icon_ai_chat_split.png') -160px 0 no-repeat; background-size:250px auto; content:''; position:absolute; bottom:-4px; left:8px; display:block;}
/* .ai_babysuni .comment_action li:hover .tooltip {display:block;} */
.ai_babysuni .comment_action li:hover .tooltip {opacity:1; bottom:32px; z-index:1;}

.ai_modal {background-color:rgba(0,0,0,0.65); position:absolute; top:0; right:0; bottom:0; left:0; z-index:1; display:none;}
.ai_modal.active {display:block;}
.ai_modal .modal_container {width:calc(100% - 80px); padding:40px 46px; background-color:#fff; border-radius:16px; box-sizing:border-box; text-align:center; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.ai_modal .modal_container strong {color:#222; font-size:16px;}
.ai_modal .modal_container p {margin-top:8px; color:#999; font-size:13px; line-height:20px;}
.ai_modal .modal_container .ai_modal_content + .btnSection {margin-top:30px;}
.ai_modal .modal_container .btnSection {display:flex; gap:12px;}
.ai_modal .modal_container .btnSection button {border:1px solid transparent; border-radius:4px; display:inline-flex; align-items:center; flex:1;}
.ai_modal .modal_container .btnSection em {padding:13px 5px; font-size:16px; font-weight:bold; font-style:normal; text-align:center; display:block; flex:1;}

.ai_modal .modal_container .btnSection .btn_cancel {background-color:#f0f0f0; border-color:#D9D9D9;}
.ai_modal .modal_container .btnSection .btn_confirm {color:#fff; background-color:#DD052B; border-color:#DD052B;}