.ai_babysuni {max-width:100%; position:fixed; right:33px; bottom:50px;}
.ai_babysuni img {display:block;}
.ai_babysuni button {padding:0; background-color:transparent; border:0; cursor:pointer;}

.ai_babysuni .ai_button_wrap {max-width:100%; position:relative; transform:translateY(-80px);}
.ai_babysuni .ai_button_wrap .message_wrap {padding:12px 16px; font-size:14px; color:#fff; background-color:#222; border-radius:12px; position:relative;}
.ai_babysuni .ai_button_wrap .message_wrap:after {width:15px; height:9px; background:url('../images_jh/icon_ai_chat_split.png') -90px 0 no-repeat; background-size:250px auto; content:''; position:absolute; right:16px; bottom:-6px; display:block;}
.ai_babysuni .ai_button_wrap .message_wrap > * {margin:0; padding:0;}
.ai_babysuni .ai_button_wrap button {padding:0; position:absolute; right:0; bottom:-80px; display:block;}
.ai_babysuni .ai_button_wrap button img {width:54px;}

.ai_babysuni .ai_chat_wrap {background-color:#efefef; border:1px solid #d9d9d9; border-radius:16px; overflow:hidden; position:fixed; top:50px; right:0; bottom:50px; display:flex; flex-direction:column; transform:translateX(100%); transition:transform 0.25s;}
.ai_babysuni .ai_chat_wrap.active {transform:translateX(-30px);}

.ai_babysuni .ai_chat_wrap .ai_chat_header {padding:20px 24px;}
.ai_babysuni .ai_chat_wrap .ai_chat_header .ai_chat_close {width:24px; height:24px; font-size:0; background-image:url('../images_jh/icon_ai_chat_split.png'); background-position:0 0; background-repeat:no-repeat; background-size:250px auto; border:0; position:absolute; top:20px; right:24px; display:block;}
.ai_babysuni .ai_chat_wrap .ai_chat_header .ai_chat_quick {margin-top:16px; padding:14px 12px; background-color:#fff; border:1px solid #efefef; border-radius:12px; display:flex; justify-content:space-between;}
.ai_chat_header .btn_history, .ai_chat_header .new_talk {font-size:13px; display:flex; align-items:center;}
.ai_chat_header .btn_history {color:#999;}
.ai_chat_header .btn_history:before, .ai_chat_header .new_talk:after {width:20px; height:20px; background-image:url('../images_jh/icon_ai_chat_split.png'); background-repeat:no-repeat; background-size:250px auto; content:''; display:block;}
.ai_chat_header .btn_history:before {margin-right:4px; background-position:-30px 0;}
.ai_chat_header .new_talk {color:#222;}
.ai_chat_header .new_talk:after {margin-left:4px; background-position:-60px 0;}

.ai_babysuni .ai_chat_wrap .ai_chat_bottom {padding:20px 24px;}
.ai_babysuni .ai_chat_wrap .ai_chat_input {border-radius:12px; overflow:hidden; display:flex; align-items:center;}
.ai_babysuni .ai_chat_wrap .ai_chat_input textarea {min-height:52px; padding:16px 20px; color:#222; font-size:16px; background-color:#fff; border:1px solid #d9d9d9; border-radius:12px; box-sizing:border-box; position:relative; outline:0; flex:1;}
.ai_babysuni .ai_chat_wrap .ai_chat_input .btn_send {width:53px; height:52px; background-color:#ccc; border-radius:0 12px 12px 0; font-size:0; position:absolute; right:24px; bottom:20px;}
.ai_babysuni .ai_chat_wrap .ai_chat_input .btn_send.active {background-color:#DD052B;}
.ai_babysuni .ai_chat_wrap .ai_chat_input .btn_send:before {width:33px; height:32px; background:url('../images_jh/icon_ai_chat_split.png') 0 -30px no-repeat; background-size:250px auto; content:''; position:absolute; top:50%; left:50%; display:block; transform:translate(-50%, -50%);}

.ai_babysuni .ai_chat_wrap .ai_chat_cont {width:480px; padding:0 24px; overflow:auto; position:relative; flex:1;}
.ai_babysuni .ai_chat_wrap .ai_chat_cont::-webkit-scrollbar {width:10px;}
.ai_babysuni .ai_chat_wrap .ai_chat_cont::-webkit-scrollbar-thumb {background:rgba(0,0,0,0.2); background-clip:padding-box; border:3px solid transparent; border-radius:8px;}
.ai_babysuni .ai_chat_wrap .ai_chat_cont::-webkit-scrollbar-track {background:transparent;}

.ai_babysuni .chat_sec {display:flex; flex-wrap:wrap;}
.ai_babysuni .chat_sec + .chat_sec {margin-top:30px;}
.ai_babysuni .chat_sec.ai:before {width:48px; height:64px; margin-right:14px; background:url('../images_jh/btn_ai_icon.png') 50% no-repeat; background-size:cover; content:''; display:block;}
.ai_babysuni .chat_sec.user {justify-content:end;}

.ai_babysuni .chat_inner {max-width:calc(100% - 40px); padding:20px; word-wrap:break-word; box-sizing:border-box; position:relative; display:inline-block;}
.ai_babysuni .chat_inner:after {background-image:url('../images_jh/icon_ai_chat_split.png'); background-repeat:no-repeat; background-size:250px auto; content:''; position:absolute; top:0; display:block;}

.ai_babysuni .chat_sec.ai .chat_inner {max-width:calc(100% - 62px); background-color:#fff; border-radius:0 16px 16px 16px;}
.ai_babysuni .chat_sec.user .chat_inner {margin-right:6px; color:#fff; font-weight:bold; background-color:#DD052B; border-radius:16px 0 16px 16px;}

.ai_babysuni .chat_sec.ai .chat_inner:after {width:8px; height:15px; background-position:-120px 0; left:-6px;}
.ai_babysuni .chat_sec.user .chat_inner:after {width:9px; height:15px; background-position:-140px 0; right:-6px;}